@import '../../../../variables.scss';

:host {
    display: block;
    position: relative;
    margin: 0 unit(0);
    overflow-y: auto;

    ::ng-deep {
        .mat-table {
            width: 100%;
            border-collapse: collapse;
            background: none;
        }

        .mat-header-row {
            height: auto;
        }

        .mat-header-cell,
        .mat-cell,
        .mat-footer-cell {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-top-width: 1px;
            border-top-style: solid;
            padding: unit(1);
            font-family: sans-serif;
            font-size: unit(1.66);
            line-height: unit(2);
        }

        .mat-header-cell {
            white-space: nowrap;
            font-weight: bold;
            vertical-align: baseline;
            color: inherit;
        }

        .mat-cell {
            vertical-align: baseline; 
        }

        .mat-header-cell:first-child,
        .mat-cell:first-child {
            padding-left: unit(1);
        }

        .mat-header-cell:last-child,
        .mat-cell:last-child {
            padding-right: unit(1);
        }

        .mat-row {
            height: auto;
        }
    }
}

:host-context(.light-theme) {
    ::ng-deep {
        .mat-header-cell,
        .mat-cell,
        .mat-footer-cell {
            border-top-color: rgb(240, 240, 240,);
            border-bottom-color: rgb(240, 240, 240,);
        }
    }
}


:host-context(.dark-theme) {
    ::ng-deep {
        .mat-header-cell,
        .mat-cell,
        .mat-footer-cell {
            border-top-color: #474747;
            border-bottom-color: #474747;
        }
    }
}



.ct-table {
    position: relative;
}

.ct-table__wait {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(256, 256, 256, 0.1);
    overflow: hidden;
}

.ct-table--wait {
    .ct-table__body {
        opacity: 0.5;
    }

    .ct-table__wait {
        display: flex;
    }
}
