@import '../../../../variables.scss';

:host {
    display: block;
    margin: 0 unit(2);
    margin-bottom: unit(2);
    
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}