@use "sass:math";
@import '../../../../variables.scss';

:host {
    display: flex;
    width: inherit;

    &[justify-content=space-between] {
        justify-content: space-between;
    }

    &[justify-content=flex-end] {
        justify-content: flex-end;
    }

    &[justify-content=flex-start] {
        justify-content: flex-start;
    }

    &[justify-content=center] {
        justify-content: center;
    }

    &[align-items=flex-end] {
        align-items: flex-end;
    }

    &[align-items=baseline] {
        align-items: baseline;
    }

    &[align-items=center] {
        align-items: center;
    }

    &[flex-direction=column] {
        flex-direction: column
    }


    &[gap="unit(1)"] {
        margin: math.div(unit(1), -2);
    }

    &[gap="unit(2)"] {
        margin: math.div(unit(2), -2);
    }

    &[gap="unit(3)"] {
        margin: math.div(unit(3), -2);
    }

    &[gap="18px"] {
        margin: math.div(-18px, 2);
    }

    &[gap="16px"] {
        margin: math.div(-16px, 2);
    }

    &[gap="12px"] {
        margin: math.div(-12px, 2);
    }

    &[gap="9px"] {
        margin: math.div(-9px, 2);
    }

    &[gap="8px"] {
        margin: math.div(-8px, 2);
    }

    &[gap="4px"] {
        margin: math.div(-4px, 2);
    }
    &[gap="0"] {
        margin: 0;
    }
 }