@import '../../../variables.scss';
:host {
    .app-view {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .app-view__header {
        height: unit(6);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 900;
    }
    .app-view__body {
        flex: 1;
        margin-top: unit(6);
        position: relative;
    }
    mat-toolbar {
        height: unit(6);
        min-height: unit(6);
    }
    mat-toolbar-row {
        height: unit(6);
        min-height: unit(6);
        padding: 0 unit(1);
    }
    mat-select {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 400;
        padding-top: 2px;
        font-size: 12px;
        font-family: sans-serif;
        padding-left: unit(1);
        padding-right: unit(1);
        min-width: (45px + unit(1) + unit(1));
    }
    mat-slide-toggle {
        padding-left: unit(1);
        padding-right: unit(1);
    }
    button {
        min-width: auto;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-family: sans-serif;
        font-size: 12px;
        padding-left: unit(1);
        padding-right: unit(1);
        mat-icon {
            margin-top: -4px;
        }
    }
}


.active[disabled] {
    background-color: initial;
}


// TODO theme palette
:host-context(.light-theme) {
    .app-view {
        background-color: #fafafa;
        color: black;
    }
}

:host-context(.dark-theme) {
    .app-view {
        background-color: #303030;
        color: white;
    }
}