<div class="app-view">
    <div class="app-view__header">
        <mat-toolbar class="toolbar" color="primary">
            <mat-toolbar-row>
                <ng-container *ngTemplateOutlet="isAuthToolbar"></ng-container>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="app-view__body">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #isAuthToolbar>
    <ct-flex justify-content="space-between" align-items="center">
        <ct-flex-item>
            <ct-flex justify-content="flex-start" gap="9px" align-items="center">

                <ct-flex-item>
                    <button
                        class="mat-button mat-button--sidenav" 
                        [class.active]="sidenav"
                        mat-button 
                        [disabled]="sidenavButtonDisable" 
                        (click)="toggleSideNav()">
                        <mat-icon class="mat-icon">menu</mat-icon>
                    </button>
                </ct-flex-item>

                <ct-flex-item>
                    <button class="mat-button mat-button--menu-item" mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="">{{brandingTitle}}</button>
                </ct-flex-item>

                <ct-flex-item>
                    <button class="mat-button mat-button--menu-item" mat-button routerLinkActive="active" routerLink="/batch">{{ 'app-view.Batch' | translate }}</button>
                </ct-flex-item>

            </ct-flex>
        </ct-flex-item>

        <ct-flex-item>
            <ct-flex justify-content="flex-end" gap="9px" align-items="center">
                <ct-flex-item>
                    <mat-slide-toggle #matSlideToggleTheme [checked]="theme === 'dark'" (change)="toggleTheme($event)">
                    </mat-slide-toggle>
                </ct-flex-item>
            </ct-flex>
        </ct-flex-item>
    </ct-flex>
</ng-template>